<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <h2>Liste des professeurs</h2>
        <div class="alert alert-success" th:if="${message}">
            <span th:text="${message}"></span>
        </div>
        <a th:href="@{/professeur/add}" class="btn btn-primary btn-sm mb-3 float-right"> Ajouter un professeur </a>

        <table class="table table-bordered table-striped table-responsive-md">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            <tr th:each="prof:${professeurs}">
                <td th:text="${prof.nom}"></td>
                <td th:text="${prof.prenom}"></td>
                <td th:text="${prof.email}"></td>

                <td th:text="${prof.etat} == 1 ? 'Actif' : 'Inactif'"></td>
                <td>
                    <a th:href="@{/professeur/edit/{id}(id=${prof.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/professeur/delete/{id}(id=${prof.id})}" onclick="return confirm('Etes vous sûr(e) de vouloir supprimer?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>