<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: html_head"></head>
<body>
    <div class="container my-2">
        <h2 th:if="${!professeurs.isEmpty()}">Liste des professeurs</h2>
        <div class="alert alert-success" th:if="${message}">
            <span th:text="${message}"></span>
        </div>
        <a th:if="${!professeurs.isEmpty()}" th:href="@{/professeur/add}" class="btn btn-primary btn-sm mb-3 float-right"> Ajouter un professeur </a>

        <table th:if="${!professeurs.isEmpty()}" class="table table-bordered table-striped table-responsive-md">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            <tr th:each="prof:${professeurs}">
                <td th:text="${prof.nom}"></td>
                <td th:text="${prof.prenom}"></td>
                <td th:text="${prof.email}"></td>

                <td th:text="${prof.etat} == 1 ? 'Actif' : 'Inactif'"></td>
                <td>
                    <a th:href="@{/professeur/edit/{id}(id=${prof.id})}" class="btn btn-primary">Modifier</a>
                    <a th:href="@{/professeur/delete/{id}(id=${prof.id})}" onclick="return confirm('Etes vous sûr(e) de vouloir supprimer?')" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        </table>

        <p th:if="${professeurs.isEmpty()}" class="text-muted mx-auto text-center h5" style="margin-top: 200px">Aucun professeur enregistré, ajouter <a th:href="@{/professeur/add}" class="text-muted h3">un prof</a> </p>

    </div>

</body>
</html>